<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>developmentAppKey</key>
	<string>lCGzUlXVTB-eb9sfxLo2DA</string>
	<key>developmentAppSecret</key>
	<string>3w_qpVN5TiO9ToObb-L2Bw</string>
	<key>productionAppKey</key>
	<string>REmR7O3MRJevwnJikWCuvg</string>
	<key>productionAppSecret</key>
	<string>ZWuVKHXyRZSkYFzj5n8yMA</string>
</dict>
</plist>
